img{
    width: 100%;
    height: auto;
}

h1{
    color: #ffffff;
    font-size: bold;
}

p{
    color: #ffffff;
}

a{
    background-color: #E50914;
    color: #ffffff;
    text-decoration: none;
}

a:hover{
    background-color: #ffffff;
    color: #E50914;
    border: 1px solid #E50914;
}